.create-streak {
    form {
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
}

.streaks {
    display: flex;
    align-items: center;
    gap: 1em;
}

.delete-task {
    color: white;
    padding: 0.25em 0.5em;
    p {
        margin: 0;
    }
}